<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div id="tradingview_25376"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/BOMN/" rel="noopener" target="_blank"><span class="blue-text">BOMN Stock Price Today</span></a> by TradingView</div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.MediumWidget(
  {
  "symbols": [
    [
      "BOMN|12M"
    ]
  ],
  "chartOnly": true,
  "width": 1000,
  "height": 400,
  "locale": "en",
  "colorTheme": "dark",
  "gridLineColor": "rgba(240, 243, 250, 0)",
  "fontColor": "#787B86",
  "isTransparent": true,
  "autosize": false,
  "showVolume": true,
  "scalePosition": "no",
  "scaleMode": "Normal",
  "fontFamily": "Trebuchet MS, sans-serif",
  "noTimeScale": false,
  "valuesTracking": "1",
  "chartType": "area",
  "lineColor": "#2962FF",
  "bottomColor": "rgba(41, 98, 255, 0)",
  "topColor": "rgba(41, 98, 255, 0.3)",
  "container_id": "tradingview_25376"
}
  );
  </script>
</div>
<!-- TradingView Widget END -->